body {
  display: flex;
  padding: 3px 102px 0px 102px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  background: skyblue;
}

.top_bar {
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
}

link_bar {
  display: flex;
  flex-direction: row;
}

button1 {
  margin: 10px;
  border-radius: 10px;
  background-color: lightblue;
  padding: 5px;
}

a {
  color: black;
}

button {
  background-color: red;
  border-radius: 5px;
}

.tables{
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
  gap:50px;
}

.mini{
  align-items: left;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
  height: 300px;
  width: 400px;
}

