body {
  display: flex;
  padding: 2px 102px 0px 102px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  background: darkslategrey;
  color: black;
}

.top_bar {
  background-color: rgb(10, 36, 36);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
  color: white;
}

table {
  border-collapse: collapse;
  margin-left: 60px;
}

a {
  color: white;
}

button {
  background-color: red;
  border-radius: 5px;
}


.q_bar {
  background-color: rgb(10, 36, 36);
  width: 50%;
  height: 40px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
}


button1 {
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(10, 36, 36);
  padding: 5px;
}

.footer{
  width: 100%;
  background-color: darkblue;
  position:fixed;
  bottom: 0;
  background-color:  rgb(10, 36, 36);
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}