body {
  display: flex;
  padding: 2px 102px 0px 102px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  background: skyblue;
}

.top_bar {
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px;
  align-items: center;
}

table {
  border-collapse: collapse;
  margin-left: 60px;
}

a {
  color: black;
}

button {
  background-color: red;
  border-radius: 5px;
}
