body {
  display: flex;
  padding: 3px 102px 0px 102px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background: skyblue;
  margin: 0px;
  border: 0px;
}

input {
  padding: 5px;
  margin: 10px;
}

a {
  color: black;
}
