<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq</title>
    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body>
    <body bgcolor="cyan">
        <div class="top_bar"><h4>Frequently asked questions</h4>
            <link_bar>
        <button1><a href="/api/download/manual">user manual</a></button1>
        <button1><a href="/dashboard">dashboard</a></button1>
        </link_bar>
        </div>
    <div id="q_bar" onmouseover="show()" onmouseout="hide()">
        <p>How are files secured?</p>
        <answer hidden>Files are encrypted using AES encryption upon upload</answer>
    </div>
    <div id="q_bar" onmouseover="show()" onmouseout="hide()">
        <p>How can i delete my files</p>
        <answer hidden>Files can be deleted by sending  deletion request to the admin</answer>
    </div>
    <div id="q_bar" onmouseover="show()" onmouseout="hide()">
        <p>Is there backup for files i upload </p>
        <answer hidden>The system creates a copy files uploaded</answer>
    </div>
    <br>
    <br>
    <p>For more queries contact the system administartor</p>

    <div class="footer">
        <h4>Secure file storage system @2023</h4>
      </div>


    <script src="/static/js/faq.js"></script>
</body>
</html>