<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body bgcolor="cyan">
    <div class="top_bar">
        <h4>Frequently asked questions</h4>
        <link_bar>
            <button1><a href="/api/download/public/manual">User manual</a></button1>
            <button1><a href="/dashboard">Dashboard</a></button1>
        </link_bar>
    </div>

    <div class="q_bar" onmouseover="show(this)" onmouseout="hide(this)">
        <p>How are files secured?</p>
        <answer hidden>Files are encrypted using AES encryption upon upload</answer>
    </div>
    <div class="q_bar" onmouseover="show(this)" onmouseout="hide(this)">
        <p>How can I delete my files?</p>
        <answer  hidden>Files can be deleted by sending a deletion request to the admin</answer>
    </div>
    <div class="q_bar" onmouseover="show(this)" onmouseout="hide(this)">
        <p>Is there a backup for files I upload?</p>
        <answer hidden>The system creates a copy of files uploaded</answer>
    </div>

    <br>
    <br>
    <p>For more queries, contact the system administrator</p>

    <div class="footer">
        <h4>Secure file storage system @2023</h4>
    </div>

    <script src="/static/js/faq.js"></script>
</body>
</html>
