<!DOCTYPE html>
<html>
  <head>
    <title>Manage Files</title>
    <link rel="stylesheet" type="text/css" href="/static/css/list.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body bgcolor="cyan">
    <div class="top_bar"><h3>Manage Files</h3>
      <a href="/admin">admin</a></div>
      <br>
      <br>
    

    <table border="1">
      <thead>
        <tr>
          <th>File Name</th>
          <th>sha256sum</th>
          <th>owner_id</th>
          <th>upload_date</th>
          <th>deletion_status</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        <tr>
          <td>{{ file.file_name }}</td>
          <td>{{ file.sha256sum }}</td>
          <td>{{ file.owner_id }}</td>
          <td>{{ file.upload_date }}</td>
          <td>{{ file.is_pending_deletion }}</td>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
