<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Welcome</title>
</head>
<body>
    <div class="body">
        <div class="top_bar">
            <h3>Welcome</h3>
            <link_bar>
            <button><a href="/login">login</a></button>
            <button><a href="/register">register</a></button>
            <button><a href="/faq">help</a></div></button>
            </link_bar>
        </div>
        <ul><center><h3>Secure File Storage system</h3></center></ul>
        <center><div class="logo"><img src="/static/images/logo.png"></div></center>
        <div class="mini_table">
            <p>This is  a system created to help Examination officers and Admission securely store files.

                <br>
                <br>

                It stores files by encrypting them using AES (advanced encryption algorithm)
<br>
<br>
                The system also created backups of files stored.
<br>
<br>
                There is also a report generation for the system


            </p>
        </div>
    </div>
</body>
</html>