<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body bgcolor="cyan">
    <h1>Register</h1>
    <div id="messages"></div>
    <form id="registerForm" method="POST" action="/register">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="email"
        required
      /><br />
      <input
        type="text"
        id="username"
        name="username"
        placeholder="username"
        required
      /><br />
      <input
        type="password"
        id="password"
        name="password"
        placeholder="password"
        required
      />
      <br />
      <input
        type="password"
        id="confirmPassword"
        name="confirm_password"
        placeholder="confirm password"
        required
      /><br />
      <input type="submit" value="Register" />
    </form>
    <p id="password-feedback"></p>
    <a href="/login">login??</a>

    <script src="static/js/main.js"></script>
  </body>
</html>
