<!DOCTYPE html>
<html>
  <head>
    <title>File Upload Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/upload.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="top_bar">
      <h3 id="title">Upload a File</h3>
      <button1><a href="/dashboard">dashboard</a></button1>
    </div>
    <br />
    <h3>{{status}}</h3>
    <form
      id="uploadForm"
      action="/api/addFiles"
      method="POST"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" />
      <br />
      <br />
      <label for="permission_level">Select permission level:</label>
      <select name="permission_level" id="permission_level">
        <option value="1">Private</option>
        <option value="2">Public</option>
      </select>
      <br /><br />
      <button type="submit">Upload</button>
      <br />
    </form>
  </body>
</html>
